@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.embla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  transition: transform 0.1s ease;
}

.embla__slide {
  flex: 0 0 auto;
  width: 50%; /* Ensure the slide takes full width */
  margin-right: 0; /* Optional: Add some space between slides */
}

/* Optional: Add styles for buttons */
.embla__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 86%;
  transform: translateY(-50%);
}

.embla__button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.embla {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 30px 44px;
}

.embla__container {
  display: flex;
  transition: transform 0.1s ease-in-out;
}

.embla__slide.usp {
  width: 200px;
  margin-right: 26px;
}

.embla.usp {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  left: 12%;
}

.embla__slide.usp.flex-shrink-0.w-full {
  opacity: 1;
}

.embla__button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.slick-list {
  padding: 50px 0 !important;
  padding-top: 85px !important;
}

.embla__slide {
  transform: scale(0.8) translateY(0) translateX(26px);
  transition: transform 0.1s ease;
}

.embla__slide.active-slide {
  transform: scale(1) translateY(-20px) translateX(53%);
  z-index: 1;
}

.embla__slide.usp {
  width: 300px;
  margin-right: 26px;
  transform: scale(1);
}

.embla__slide.nearby-slide {
  transform: scale(0.9); /* Slightly enlarge nearby slides */
  opacity: 0.8; /* Slightly fade out the nearby slides */
}

.embla__slide:not(.active-slide):not(.nearby-slide) {
  opacity: 0.6; /* Reduce visibility of non-focused slides */
}

.embla__slide.prev-slide {
  transform: scale(0.9) translateX(120%);
}

.embla__slide.next-slide {
  /* Style for the next slide */
  transform: scale(0.9) translateX(-5%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media only screen and (max-width: 767px) {
  .slider-container {
    position: relative;
    left: 0;
  }
  .slick-initialized .slick-slide {
    display: block;
    margin-left: 5px;
    width: 244px !important;
  }
  .slick-track {
    height: auto !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
}

@media only screen and (min-width: 1023px) {
  .slick-slide {
    width: 270px !important;
  }
  .slick-slide.slick-active.slick-center.slick-current {
    z-index: 99999;
    position: relative;
  }
  .slider-container {
    position: relative;
    left: 46px;
  }

  .slick-slide {
    width: 269px !important;
    margin-left: -49px;
  }
}
